body {
  font-family: Helvetica Neue, sans-serif;
  background: powderblue;
}
h1, h2, h3 {
  font-weight: 300;
}
#data {
  width: 50%;
  height: 15%;
}
button, select {
  padding: 5px;
  margin: 4px;
}
button, select {
  cursor: pointer;
  background: rgb(117, 210, 117);
  border: none;
  border-radius: 5px;
}
button:disabled, select:disabled {
  background: lightgrey;
  cursor: default;
}
button:hover:not(:disabled) {
  background: rgb(106, 195, 106);
}
#widgetdisplay {
  margin: 10px;
  padding: 5px;
}
textarea, input {
  background: rgb(162, 194, 199);
  border: 1px solid grey;
  outline: none;
  border-radius: 5px;
  font-family: inherit;
  padding: 5px;
}
textarea:focus, input:focus {
  border: 1px solid black;
}
td {
  padding-right: 10px;
}
a {
  text-decoration: none;
  color: steelblue;
}
a.footer {
  position: fixed;
  bottom: 1%;
  right: 1%;
}