body {
  font-family: Helvetica Neue, sans-serif;
  background: powderblue;
}
h1, h2, h3 {
  font-weight: 300;
}
#data {
  width: 50%;
  height: 15%;
}
button, select {
  padding: 5px;
  margin: 4px;
}
code {
  background: lightgrey;
  padding: 3px;
  border-radius: 3px;
  font-size: .7em;
}
input.limited {
  width: 40px;
}
details {
  max-width: 50%;
}
details p {
  padding: 5px;
}
button, select {
  cursor: pointer;
  background: rgb(117, 210, 117);
  border: none;
  border-radius: 5px;
}
button:disabled, select:disabled {
  background: lightgrey;
  cursor: default;
}
button:hover:not(:disabled) {
  background: rgb(106, 195, 106);
}
#widgetdisplay {
  margin: 10px;
  padding-left: 5px;
}
textarea, input {
  background: rgb(162, 194, 199);
  border: 1px solid grey;
  outline: none;
  border-radius: 5px;
  font-family: inherit;
  padding: 5px;
}
textarea:focus, input:focus {
  border: 1px solid black;
}
td {
  padding-right: 10px;
}
a {
  text-decoration: none;
  color: steelblue;
}
a:hover {
  text-decoration: underline;
}
a.footer {
  position: fixed;
  bottom: 0%;
  right: 0%;
  background: skyblue;
  padding: 10px;
  border-radius: 5px;
}
table {
  background: black;
  border-radius: 3px;
}
td {
  background: powderblue;
  padding: 5px;
  width: 40px;
}
td input {
  width: 70%;
  margin: auto;
  font-size: .7em;
}
.tablebtn {
  width: 30px;
  margin-left: -1px;
}
#distributions div input {
  width: 40px;
}
